body {
  background-color: #282828;
  color: white;
}

H1.hebh1 {
  text-align: center;
}
H2.hebh2 {
  text-align: right;
}
H3.hebh3 {
  text-align: right;
}
P.hebp {
  text-align: right;
  font-size: 16px;
  margin-right: 20px;
}
DIV.hebdiv {
  text-align: right;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  border: 1px solid darkgoldenrod;
  padding: 8px;
  text-align: center;
}
th {
  background-color: lightgray;
  color: black;
}
.fixTableHead {
  overflow-y: auto;
  height: 98vh;
}
.fixTableHead thead th {
  position: sticky;
  top: 0;
}
table td img {
  height: 40px;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a:link {
  color: gold;
  background-color: transparent;
  text-decoration: underline;
}
a:visited {
  color: darkorange;
  background-color: transparent;
  text-decoration: underline;
}
a:hover {
  color: darkcyan;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.dropdown {
  font-size: 20px;
  position: relative;
  display: inline-block;
  margin-right: 20px;
  padding: 5px, 5px, 5px, 5px;
}

.flex-down {
  display: flex;
  flex-direction: column-reverse;;
  align-items: center;
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #f0f0f0;
  color: #282828;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.custom-download-button {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #f0f0f0;
  color: #282828;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.service-dropdown {
  padding: 6px 12px;
  cursor: pointer;
  background-color: #f0f0f0;
  color: #282828;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

.input-left-align {
  text-align: left;
}

.advanced-options-header {
  cursor: pointer;
}

.collapsible-header {
  cursor: pointer;
  text-align: right;
  font-size: 16px;
  margin-right: 20px;
  /* Additional styling for the header */
}

.collapsible-header .collapsed {
  /* Style for collapsed state (e.g., arrow pointing right) */
  transform: rotate(90deg);
}

.collapsible-header .expanded {
  /* Style for expanded state (e.g., arrow pointing down) */
  transform: rotate(180deg);
}

.collapsible-header span {
  display: inline-block;
  transition: transform 0.3s ease; /* Smooth transition for arrow rotation */
}